<a href="https://colab.research.google.com/github/alexandraxjacobs/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/JACOBS_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [56]:
### YOUR CODE STARTS HERE
import numpy as np #is numpy necessary for t tests?
import pandas as pd
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-01-30 02:30:00--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-01-30 02:30:00 (633 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [57]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=column_headers,
                 na_values="?")
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [58]:
df = df.replace({'y':1,'n':0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [59]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [60]:
rep = df[df['party']=='republican']
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [61]:
dem = df[df['party']=='democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [62]:
rep ['el-salvador-aid'].sum()/len(rep)

#hypothesis 1: more republicans support el savador aid than democrats

0.9345238095238095

In [63]:
col = rep['el-salvador-aid']
np.isnan(col)
R_ESA_no_nans = col[~np.isnan(col)]
R_ESA_no_nans
R_ESA_no_nans.sum()/len(R_ESA_no_nans)

0.9515151515151515

In [64]:
rep['el-salvador-aid'].mean()

0.9515151515151515

In [65]:
col = dem['el-salvador-aid']
np.isnan(col)
D_ESA_no_nans = col[~np.isnan(col)]
D_ESA_no_nans
D_ESA_no_nans.sum()/len(D_ESA_no_nans)

0.21568627450980393

In [0]:
from scipy.stats import ttest_ind

In [67]:
dem['el-salvador-aid'].mean()

0.21568627450980393

In [68]:
ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit').pvalue

#REJECT THE NULL.  THERE IS A SIGNIFICANT DIFFERENCE 
#REPUBLICANS SUPPORT EL SALVADOR AID MORE THAN DEMS.

5.600520111729011e-68

In [69]:
rep ['immigration'].sum()/len(rep)

#hypothesis 2: more democrats support immigration than republicans

0.5476190476190477

In [70]:
dem ['immigration'].sum()/len(rep)

0.7380952380952381

In [71]:
col = rep['immigration']
np.isnan(col)
R_immigration= col[~np.isnan(col)]
R_immigration
R_immigration.sum()/len(R_immigration)

0.5575757575757576

In [72]:
col = dem['immigration']
np.isnan(col)
D_immigration= col[~np.isnan(col)]
D_immigration
D_immigration.sum()/len(D_immigration)

0.4714828897338403

In [73]:
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit').pvalue
#p>.05, retain null.
#NO RELATIONSHIP BETWEEN PARTY AND SUPPORT OF IMMIGRATION

0.08330248490425066

In [74]:
rep ['religious-groups'].sum()/len(rep)

0.8869047619047619

In [75]:
dem ['religious-groups'].sum()/len(rep)

0.7321428571428571

In [76]:
col = rep['religious-groups']
np.isnan(col)
R_religion=col[~np.isnan(col)]
R_religion
R_religion.sum()/len(R_religion)

0.8975903614457831

In [77]:
col = dem['religious-groups']
np.isnan(col)
D_religion=col[~np.isnan(col)]
D_religion
D_religion.sum()/len(D_religion)

0.47674418604651164

In [79]:
ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit').pvalue

#REJECT NULL,
#MORE REPUBLICANS ARE IN FAVOR OF RELIGIOUS GROUPS

2.3936722520597287e-20